html {
  background-color: #161616;
  overflow-y: scroll;
}

body {
  color: #fff;
  background-color: #5985B2;
  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
}

h1{font-size:36px}
h2{font-size:24px}
h3{font-size:20px}
h4{font-size:16px}

p {
  font-size: 12px;
}

header {
  color: #fff;
  padding: 0;
  margin: 0;
  background-color: #4AAD52;
  overflow: hidden;
}

header li {
  float: left;
  list-style-type: none;
}

header li a {
  text-align: justify;
  display: block;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #488B49;
}

footer {
  color: #fff;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.sidebar {
  width: 20%;
  height: 100%;
  display: inline-block;
  color: #eee;
  background-color: #4AAD52;
  overflow: hidden;
}

.sidebar-content {
  width: 75%;
  height: 100%;
  display: inline-block;
  color: #eee;
  background-color: #4AAD52;
  overflow: hidden;
}

.content {
	margin: 8px auto;
	max-width: 640px;
	height: 400px;
}