#leaderboard{
	float: right;
	width: 45%;
	min-height: 500px;
	border: solid;
}
#submissions{
	height: 500px;
	float: left;
	width: 45%;
	border: solid;
}
#leaderboard li:nth-child(even){
	background-color: lightgreen;
	color: black;
}
#leaderboard li:nth-child(odd){
	background-color: lightgray;
	color: black;
}

#leaderboard li{
	list-style-type: none;
}

#submissions img{
	max-width: 100%;
}

h2,h3{
	color:magenta;
}