html {
  background: lightskyblue;
}

body {
  color: white;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

h1{font-size:64px}
h2{font-size:48px}
h3{font-size:36px}
h4{font-size:24px}
h5{font-size:20px}
h6{font-size:16px}

p {
  font-size: 12px;
}

.whole {
	min-width: 360px;
	width: 100%;
	float: left;
	box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.5);
}

.half {
	min-width: 360px;
	width: 50%;
	float: left;
}
@media (max-width:800px){.half{width:100%}}

.quarter {
	min-width: 180px;
	width: 25%;
	float: left;
}
@media (max-width:800px){.quarter{width:100%}}

.card {
	margin: 8px;
}